/* Logo */
.logo{
    width: 10%;
    height: 10%;
}

/* Hero */

.heroImg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    position: relative;
}

.heroText{
    text-align: center;
    color: white;
    padding: 2%;
}

.heroTitle{
    text-align: center;
}

/* Conversor divisas */

h2{
    text-align: center;
    padding: 15px;
}

.calcu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.btnCalcu{
    display: flex;
    gap: 10px;
    padding: 9px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    padding: 20px 50px 10px 15px; }
  
  .derechos p {
    color: #000000; }
  
  .redes {
    display: flex;
    gap: 50px; }
  
  .iconosRedes {
    transition: all 0.3s linear;
    height: 30px;
    width: 30px; }
    .iconosRedes:hover {
      transform: scale(130%); }